<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions>
		<permissions action="procSitemapAdminDownloadSitemap" target="manager" />
	</permissions>
	<actions>
		<action name="dispSitemapAdminIndex" type="view" menu_name="sitemap" menu_index="true" admin_index="true" />
		<action name="procSitemapAdminInsertConfig" type="controller" />
		<action name="procSitemapAdminPingSitemap" type="controller" />
		<action name="procSitemapAdminDownloadSitemap" type="controller" method="GET|POST" />
		<action name="sitemap" type="view" />
	</actions>
	<menus>
		<menu name="sitemap" type="all">
			<title xml:lang="ko">사이트맵</title>
			<title xml:lang="jp">サイトマップ</title>
			<title xml:lang="en">Sitemap</title>
		</menu>
	</menus>
</module>
